
/*body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - csapplication.scss"; }*/

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

header a{
	display:block;
	width: 10em;
}