
/*body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - csapplication.scss"; }*/


.span4 {
	
	display: block;
	text-align: center;
	padding-top: 5em;
	width: 30%;
	min-width: 600px;
}

.header1 {
	font-weight: bold;
	font-size: 3em;
	padding-bottom: 25px;
}

.header2 {
	font-weight: bold;
	font-size: 2em;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.span4 li{
	text-align: left;
	padding-left: 2em;
	list-style: none;
	width: 15em;
}


.span8 {
	margin: 25px 0px 75px 200px;

}