<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/application.css">
	<link rel="stylesheet" href="/css/resume.css" media="all">
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/js/validation.js"></script>
	<title>Andrew Jorczak</title>
</head>
<body>
	<div class="title">
		<h1 class="header1">Andrew Jorczak</h1>
		<h2 class="header2">Web Developer, Theatre Artist</h2>
		<br>
		<nav class="navlist">
		  <ul>
		    <li><a href="/aboutme">About Me</a></li>
		    <li> <a href="/resume">Resume</a></li>
		    <li><a href="/projects">Development Projects</a></li>
		    <li><a href="/theatre">Theatre Projects</a></li>
		    <li><a href="https://github.com/CoolJorcz">GitHub</a></li>
		    <li><a href="http://www.linkedin.com/profile/view?id=49085002&trk=nav_responsive_tab_profile">LinkedIn</a></li>
		    <li><a href="https://twitter.com/andrewjorczak">Twitter</a> </li>
		    <li><a href="http://instagram.com/djjazzyaj">Instagram</a></li>
		  </ul>
		</nav>
</div>
<div class="page">
	<%= yield %>
</div>
</body>
</html>