<div class="container">
  <form name="sign_up" action="/register" method="post">
    <li><input type="text" name="user[name]" placeholder="Enter name"></li>
    <li><input type="text" name="user[email]" placeholder="Enter email"></li>
    <li><input type="password" name="user[password]" placeholder="Enter password"></li>
    <li><input type="password" name="user[password_confirmation]" placeholder="Password Confirmation"></li>
    <li><input class="button" type="submit" value="Sign Up">
  </form>

  <ul id="errors"></ul>
</div>
