<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all">


<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1>Andrew Jorczak</h1>
					<h2>Web Developer</h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><a href="mailto:andrew.jorczak@gmail.com">andrew.jorzak@gmail.com</a></h3>
						<h3>(832) - 545-6436</h3>
					</div><!--// .contact-info -->
				</div>
			</div><!--// .yui-gc -->
		</div><!--// hd -->

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Profile</h2>
						</div>
						<div class="yui-u">
							<p class="enlarge">
								Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change. 
							</p>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2>Web Design</h2>
									<p>Assertively exploit wireless initiatives rather than synergistic core competencies.	</p>
								</div>

								<div class="talent">
									<h2>Interface Design</h2>
									<p>Credibly streamline mission-critical value with multifunctional functionalities.	 </p>
								</div>

								<div class="talent">
									<h2>Project Direction</h2>
									<p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
								</div>
						</div>
					</div><!--// .yui-gf -->

					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Technical</h2>
						</div>
						<div class="yui-u">
							<ul class="talent">
								<li id="resume" class="resume">HTML5</li>
								<li id="resume">CSS</li>
								<li id="resume">Ruby</li>
								<li id="resume">Rails</li>
								<li id="resume">HAML</li>
								<li id="resume" class="last">Sinatra</li>
							</ul>

							<ul class="talent">
								<li id="resume">jQuery</li>
								<li id="resume">JavaScript</li>
								<li id="resume">AJAX</li>
								<li id="resume">Ember.js</li>
								<li id="resume">OAuth</li>
								<li id="resume" class="last">Bootstrap</li>
							</ul>

							<ul class="talent">
								<li id="resume">RSpec</li>
								<li id="resume">Git/Github</li>
								<li id="resume">ActiveRecord</li>
								<li id="resume">Engineering Empathy</li>
								<li id="resume">SQL/SQLite3/PostgreSQL</li>
								<li id="resume" class="last">OS X</li>
							</ul>

							<ul class="talent">
							</ul>
						</div>
					</div><!--// .yui-gf-->

					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Experience</h2>
						</div><!--// .yui-u -->

						<div class="yui-u">

							<div class="job">
								<h2>Groupon, Inc.</h2>
								<h3>Quality Assurance Editor/ Lead End-Of-Day-Checker</h3>
								<h4>2010-2013</h4>
								<p>
									<ul >
									    <li>Validated and managed data editorial team had created for each daily deal in United States and Canada as final step in web-facing Groupon deal creation process. Acted as final backstop to protect customer and merchant relations while adapting to high fluctuation of company workflow.</li>
									    <li>Led final check on issues/concerns with Editorial, Sales, and Development departments while maintaining high productivity and low error rate (under 2% on average) consisting on average  500 deals a month.</li>
									    <li>Tested and troubleshot various deal-creation solutions, including automation programs. Troubleshot across all editorial stages and assisted in bug reporting for development of new systems.</li>
									    <li>Led initiatives to reduce merchant automatic payment errors from approximately 350 to 20 errors per month.</li>
									    <li>Led shadowing sessions and webcasts on Salesforce.com and backend of Groupon.com. Shadowers included senior and executive management & various independent consultants.</li>
									    <li>Chosen from over 60 peers to maintain daily city schedules as one of 10 on End-Of-Day Checks team.</li>
									    <ul>
									        <li>Communicated daily with several internal departments to verify and optimize city's schedules were correct on backend of site. Additionally checked city's email pre-flights/blasts and verified subscriber counts for each deal. Coordinated launching of Pre-feature Program, assuring early completion of deals in all markets.</li>
									        <li>Mediated between editorial and external department conflicts to quickly resolve concerns that would prevent deal completion. Helped develop department policy to alleviate workflow hold-ups, decreasing editorial turnaround time from 3 days to 1.5 days.</li>
									        <li>Trained four peers on End of Day Checks processes. Assisted in company transition of Checks responsibilities.</li>
									    </ul>
									    <li>Spearheaded communication with Customer Service, Merchant Services, and Development through HappyPath, a team created to improve customer and merchant satisfaction.</li>
									    <li>Recognized in company video for quarterly meeting for catching subscriber error count that would have prevented an email blast from reaching 900,000 subscribers in NYC. Awarded runner-up for Editorial Employee of the Month (Nov. 2012).</li>
									</ul>
								</p>
							</div>

							<div class="job">
								<h2>Apple Inc.</h2>
								<h3>Senior Interface Designer</h3>
								<h4>2005-2007</h4>
								<p>Progressively reconceptualize multifunctional "outside the box" thinking through inexpensive methods of empowerment. Compellingly morph extensive niche markets with mission-critical ideas. Phosfluorescently deliver bricks-and-clicks strategic theme areas rather than scalable benefits. </p>
							</div>

							<div class="job">
								<h2>Microsoft</h2>
								<h3>Principal and Creative Lead</h3>
								<h4>2004-2005</h4>
								<p>Intrinsicly transform flexible manufactured products without excellent intellectual capital. Energistically evisculate orthogonal architectures through covalent action items. Assertively incentivize sticky platforms without synergistic materials. </p>
							</div>


							<div class="job last">
								<h2>International Business Machines (IBM)</h2>
								<h3>Lead Web Designer</h3>
								<h4>2001-2004</h4>
								<p>Globally re-engineer cross-media schemas through viral methods of empowerment. Proactively grow long-term high-impact human capital and highly efficient innovation. Intrinsicly iterate excellent e-tailers with timely e-markets.</p>
							</div>

						</div><!--// .yui-u -->
					</div><!--// .yui-gf -->


					<div class="yui-gf last">
						<div class="yui-u first">
							<h2>Education</h2>
						</div>
						<div class="yui-u">
							<h2>Indiana University - Bloomington, Indiana</h2>
							<h3>Dual Major, Economics and English &mdash; <strong>4.0 GPA</strong> </h3>
						</div>
					</div><!--// .yui-gf -->


				</div><!--// .yui-b -->
			</div><!--// yui-main -->
		</div><!--// bd -->

		<div id="ft">
			<p>Jonathan Doe &mdash; <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309</p>
		</div><!--// footer -->

	</div><!-- // inner -->


</div><!--// doc -->
