<h1>Theatre Projects</h1>

<h3>I've been involved in theatre for the past 15 years. I've acted and collaborated on more than 50 productions. Here's my current resume, along with audio samples of my voicework:</h3>

<iframe src="https://docs.google.com/file/d/0B03j_KJb6ZFvS3RYQmJsWjhENHM/preview" width="100%" height="700px"></iframe>

<h4>Voiceover Samples (Produced at <a href="http://www.bamstudios.com/">BAM Studios)</a>:</h4> 
<ul class="voiceover">
    <li>Commercial Demo:
    		<object width="300" height="42">
				<param name="src" value="/audio/Commercial_Demo.mp3">
				<param name="autoplay" value="false">
				<param name="controller" value="true">
				<param name="bgcolor" value="transparent">
				<embed src="/audio/Commercial_Demo.mp3" autostart="false" loop="false" width="300" height="42" controller="true" bgcolor="#FFFFFF">
				</object>
		</li>
		<li>Narrative Samples:
				<object width="300" height="42">
				<param name="src" value="/audio/Narrative_Samples.mp3">
				<param name="autoplay" value="false">
				<param name="controller" value="true">
				<param name="bgcolor" value="transparent">
				<embed src="/audio/Narrative_Samples.mp3" autostart="false" loop="false" width="300" height="42" controller="true" bgcolor="#FFFFFF">
				</object>
		</li>
		<li>Bonus Promo:
				<object width="300" height="42">
				<param name="src" value="/audio/Bonus_Promo.mp3">
				<param name="autoplay" value="false">
				<param name="controller" value="true">
				<param name="bgcolor" value="transparent">
				<embed src="/audio/Bonus_Promo.mp3" autostart="false" loop="false" width="300" height="42" controller="true" bgcolor="#FFFFFF">
				</object>
		</li>
</ul>